html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 15px;
}

.search-form {
  border-bottom: 1px solid black;
  padding: 15px;
}

.row {
  display: flex;
}
.row label {
  margin-right: 5px;
}
.row + .row {
  margin-top: 15px;
}

.radio-group {
  display: flex;
}